#navbar{
	background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #6d818d, #6d818d);
  background: -moz-linear-gradient(right, #6d818d, #6d818d);
  background: -o-linear-gradient(right, #6d818d, #6d818d);
  background: linear-gradient(to left, #6d818d, #6d818d);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

body{
	 background: #f2f2f2;
}